<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">Accueil</a>
  <button class="navbar-toggler" type="button" (click)="camemberclick()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngStyle]="{display:menuExpanded?'block':'none'}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/annonce">Mes anonnces <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profil">Votre annonce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profil">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/autho">Gêrer profil</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher des annonces" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>
  </div>
</nav>
