




<form action="/" method="post">
  <h4>ENTREZ VOS IDENTIFIANTS POUR GERER VOTRE PROFIL</h4>
  <!--<div>-->
  <!--<label for="nom">Nom :</label>-->
  <!--<input type="text" id="nom" />-->
  <!--</div>-->
  <!--<div>-->
  <!--<label for="prenom">Prénom :</label>-->
  <!--<input type="text" id="prenom" />-->
  <!--</div>-->
  <div>
    <label for="courriel">Email :</label>
    <input type="email" id="courriel" />
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" />
  </div>
  <div class="button">
    <button type="submit">Se connecter</button>
  </div>
</form>
