

h4{
  font-family: "Adobe Devanagari";

}

form {
  position:absolute;
  border: 10px solid #CCC;
  border-radius: 10px;
  top: 30%;
  left: 30%;
  padding: 10px;
}

/*form {*/
  /*!* Pour le centrer dans la page *!*/
  /*margin: 200px;*/
  /*width: 650px;*/
  /*!* Pour voir les limites du formulaire *!*/
  /*padding: 10px;*/
  /**/

/*}*/


form div + div {
  margin-top: 15px;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: inline-block;
  width: 200px;
  text-align: right;
}

.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 220px; /* même dimension que les étiquettes */

}

button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: 10px;
  border-radius: 10px;
  background-color: gold;
}
